<html>
    <head>
        <title>
            adssadfk
        </title>
    </head>
    <body>
        <h1>Home Page</h1>
        <ul>
            <li>Cat</li>
            <li>Dog</li>
            <li>Ant</li>
        </ul>
        <script src="../app.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>